*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #31212c, #0e0e0f);

}

.calculator{
    border: 1px solid #666;
    padding: 20px;
    /* background-color: #1b054d; */
    border-radius: 10%;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);

}

input{
    height: 80px;
    width: 300px;
    border: none;
    padding: 24px;
    margin: 10px;
    border-radius: 10%;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 38px;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
}

input::placeholder{
    color: #151414
    
    
}

input::type{
    color: #ffffff;
}


button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 60%;
    background: transparent;
    color: rgb(192, 176, 176);
    /* background-color: black; */
    font-size: 25px;
    font-style: oblique;
    text-justify: distribute-all-lines;
    box-shadow: -8px -8px 15px rgba(255,255,255, 0.1);
    cursor: pointer;
} 


.equalBtn{
    background-color: rgb(238, 103, 7);
}

.delBtn{
    
    color: #d6e4d5;
    
    background-color: #0e0e0f;
}

.opr{
    color: #16e34c;
    
    background-color: #0e0e0f;
}

.numbers{
    color: #e77308;
    
}